#------------------------------------------------------------------------------
# Global Options
#------------------------------------------------------------------------------
global:
  # Override the name of the chart
  nameOverride: ""
  # Override the full name of the chart+release
  fullnameOverride: ""
  image:
    # Global image pull policy for all container images in the chart
    # Can be overridden by individual image pullPolicy
    pullPolicy: Always
    # Global list of secret names for image pull secrets across all pod specs
    # Secrets must exist in the same namespace
    # Reference: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    imagePullSecrets: []
    # Global registry for all container images in the chart
    registry: ""

  # Global labels applied to all resources deployed by the chart
  labels: {}


#------------------------------------------------------------------------------
# Shared Configurations
#------------------------------------------------------------------------------
shared:
  resources:
    limits:
      cpu: "500m"
      memory: "512Mi"
    requests:
      cpu: "250m"
      memory: "256Mi"

  nodeSelector: {}

  tolerations: []

  affinity: {}


#------------------------------------------------------------------------------
# Agent Configurations
#------------------------------------------------------------------------------
agent:
  logLevel: info

  config:
    host:
      private_region: true
      join_token: ""
      ingress_ip_addr: ""
      egress_addresses: []
    control_plane_url: cra.local.diagrid.io:443
    control_plane_http_url: https://api.local.diagrid.io
    inspection:
      enabled: false
    placement:
      max_project_count: 15
    project:
      dns_top_level_domain: ".private.diagrid.io"
      ingress_tls_secret_name: ""
      default_workflow: namespace
      enable_scheduler_service: false
      dapr_hot_reloading: false
      sidecar_capture_init_errors: false
      redis_kafka_cache:
        enabled: false
    sidecar:
      image_registry: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-public"
      image_tag: 'edge'
    api_token_error:
      enabled: false
    otel:
      enabled: true
      image_repository: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-public/diagrid-otel-collector"
      image_tag: 'edge'
      metrics_endpoint: https://metrics.local.diagrid.io:443/api/v1/push
      metrics_tls_insecure: true
      internal_cortex_enabled: false
      internal_cortex_endpoint: ""
      internal_cortex_org_id: common
      loki_enabled: false
      loki_endpoint: https://logs.local.diagrid.io:443/loki/api/v1/push
      loki_tls_insecure: true
      logs_resources:
        limits:
          memory: 500Mi
        requests:
          cpu: 50m
          memory: 500Mi
      metrics_resources:
        limits:
          memory: 1100Mi
        requests:
          cpu: 75m
          memory: 250Mi
    upstream_dapr:
      # images wil be pulled from a dockerhub proxy so we don't hit ratelimits
      container_registry: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-hub-proxy/daprio"
    internal_dapr:
      container_registry: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-public"
      sentry_resources:
        limits:
          memory: 100Mi
      scheduler_resources:
        limits:
          memory: 175Mi
        requests:
          memory: 130Mi
      scheduler:
        storage_class: standard
        storage_size: 8Gi
    artifacts:
      # make sure the k8s container image version works with the vcluster chart version when updating these, best is to copy the container image version from the vcluster release
      vcluster_k0s_chart_version: "0.15.2"
      vcluster_k0s_container_image: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-hub-proxy/k0sproject/k0s:v1.26.0-k0s.0"
      core_dns_container_image: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-hub-proxy/coredns/coredns:1.10.1"
      internal_registry_username: ""
      internal_registry_password: ""
    kubernetes:
      qps: 25
      burst: 10
    denylist:
      enabled: false
    sentry:
      enabled: true
      endpoint: dapr-sentry.root-dapr-system.svc.cluster.local:443
      remote_endpoint: sentry.local.diagrid.io:443
      diagrid_trust_anchors_endpoint: https://trust-pem.local.diagrid.io
      diagrid_trust_anchors_endpoint_insecure: true
      trust_domain: prj-root.cra.diagrid.io
      namespace: root-dapr-system
    nats:
      endpoint: tls://client.events.local.diagrid.io:443
      trust_domain: cra.diagrid.io
    featureflags:
      nats_enabled: true
      agent_component_validation: false

  # secrets config for integrating with a secret provider
  secrets:
    provider: kubernetes

  metrics:
    port: 9090

  replicaCount: 1

  image:
    registry: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-public"
    name: cra-agent
    # using single quotes so the script set_helm_version updates this value to the release version
    tag: 'edge'
    fullName: ""
    pullPolicy: Always

  nameOverride: ""
  fullnameOverride: ""

  service:
    type: ClusterIP
    port: 9090

  serviceAccount:
      # Annotations to add to the service account
      annotations: {}
      # The name of the service account to use.
      # If not set and create is true, a name is generated using the fullname template
      name: ""

  podAnnotations:
    prometheus.io/port: "9090"
    prometheus.io/scrape: "true"
    
  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  resources:
    limits:
      memory: 1200Mi
    requests:
      cpu: 40m
      memory: 100Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  # Golang Soft Memory Limit via env var GOMEMLIMIT
  goSoftLimit:
    percent: 90
  #  override: 600MiB  # it will set GOMEMLIMIT to this value. Supported suffixes, if not using a straight bytes number, are B, KiB, MiB, GiB, and TiB.

  extraEnvs: []

  merge: {}
  patch: {}

#------------------------------------------------------------------------------
# Gateway Configuration
#------------------------------------------------------------------------------

gateway:
  namespace: gateway
  envoy:
    replicaCount: 1
    image:
      tag: distroless-v1.33.0
      name: envoyproxy/envoy
      registry: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-hub-proxy"
    admin:
      enabled: false
      address: "127.0.0.1"
      port: 9090
    serviceAccount:
      name: gateway-envoy
      annotations: {}
    configmap:
      name: envoy-config
    service:
      name: gateway-envoy
      appLabel: envoy
      port: 8080
      targetPort: 8080
      type: ClusterIP
    xds:
      connect_timeout: 10s
      health_check:
        timeout: 5s
        interval: 15s
        unhealthy_threshold: 2
        healthy_threshold: 1
        path: /healthz
        port: 57205
      connection_keepalive:
        interval: 30s
        timeout: 10s
      hostname: gateway-controlplane
      port: 57206
    podAnnotations: {}
    labels:
      app: gateway-envoy
    selectorLabels:
      app: gateway-envoy
    merge:
      labels: {}
      selectorLabels: {}
    podSecurityContext:
      runAsNonRoot: true
      fsGroup: 2000
    securityContext:
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
    nodeSelector: {}
    affinity: {}
    tolerations: []
  controlplane:
    replicaCount: 1
    image:
      tag: edge
      name: catalyst-gateway
      registry: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-public"
    serviceAccount:
      name: gateway-controlplane
      annotations: {}
    deployment:
      httpHealthCheck:
        containerPort: 57205
      httpXDS:
        containerPort: 57206
    service:
      name: gateway-controlplane
      appLabel: gateway-controlplane
      httpHealthCheck:
        port: 57205
        targetPort: 57205
      httpXDS:
        port: 57206
        targetPort: 57206
      type: ClusterIP
      clusterIP: None
    podAnnotations: {}
    labels:
      app: gateway-controlplane
    selectorLabels:
      app: gateway-controlplane
    merge:
      labels: {}
      selectorLabels: {}
    podSecurityContext:
      runAsNonRoot: true
      fsGroup: 2000
    securityContext:
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
    nodeSelector: {}
    affinity: {}
    tolerations: []

#------------------------------------------------------------------------------
# Management Service Configurations
#------------------------------------------------------------------------------
management:
  logLevel: info

  config:
    grpc_server:
      enabled: false
    profiling:
      enabled: false
    nats:
      endpoint: tls://client.events.local.diagrid.io:443
      trust_domain: cra.diagrid.io
    featureflags:
      nats_enabled: true
    sentry:
      enabled: true
      endpoint: dapr-sentry.root-dapr-system.svc.cluster.local:443
      remote_endpoint: sentry.local.diagrid.io:443
      diagrid_trust_anchors_endpoint: https://trust-pem.local.diagrid.io
      diagrid_trust_anchors_endpoint_insecure: true
      trust_domain: prj-root.cra.diagrid.io
      namespace: root-dapr-system
      trust_anchors_file: "/var/run/secrets/diagrid.io/trust/ca.crt"

  # secrets config for integrating with a secret provider
  secrets:
    provider: kubernetes
    redis:
      host: ""
      username: ""
      password: ""
    aws:
      region: ""

  replicaCount: 1

  image:
    registry: "us-central1-docker.pkg.dev/prj-common-d-shared-89549/reg-d-common-docker-public"
    name: catalyst-management
    tag: 'edge'
    pullPolicy: Always

  nameOverride: ""
  fullnameOverride: ""

  service:
    type: ClusterIP
    port: 9090

  ingress:
    enabled: false
    dns_top_level_domain: ""

  serviceAccount:
      # Annotations to add to the service account
      annotations: {}
      # The name of the service account to use.
      # If not set and create is true, a name is generated using the fullname template
      name: ""

  podAnnotations:
    prometheus.io/port: "9091"
    prometheus.io/scrape: "true"
    
  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  resources:
    limits:
      memory: 1200Mi
    requests:
      cpu: 40m
      memory: 100Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  # Golang Soft Memory Limit via env var GOMEMLIMIT
  goSoftLimit:
    percent: 90
  #  override: 600MiB  # it will set GOMEMLIMIT to this value. Supported suffixes, if not using a straight bytes number, are B, KiB, MiB, GiB, and TiB.

  extraEnvs: []

  merge: {}
  patch: {}

#------------------------------------------------------------------------------
# Metrics Server Configurations - Optional
#------------------------------------------------------------------------------
metricsServer:
  enabled: false
  replicas: 2
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: metrics-server
            app.kubernetes.io/instance: metrics-server
        namespaces:
        - metrics-server
        topologyKey: kubernetes.io/hostname
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
