{{- if and .Values.management.ingress.enabled .Values.contour.enabled }}
{{- $topLevelDomain := required ".Values.management.ingress.dns_top_level_domain is required" .Values.management.ingress.dns_top_level_domain }}
{{- $hostId := required ".Values.management.config.host.id is required" .Values.management.config.host.id }}
{{- $regionId := required ".Values.management.config.host.region_id is required" .Values.management.config.host.region_id }}
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ include "management.name" . }}
  labels:
    {{- include "management.labels" . | nindent 4 }}
spec:
{{- if .Values.management.config.grpc_server.tls.enabled }}
  tcpproxy:
    services:
    - name: {{ include "management.name" . }}
      port: {{ .Values.management.service.port }}
{{- else }}
  routes:
  - services:
    - name: {{ include "management.name" . }}
      port: {{ .Values.management.service.port }}
{{- end }}
      # weird, but contour needs to treat the grpc proxy as plain data for the tls passthrough to work properly
      protocol: h2c
  virtualhost:
    fqdn: mgmt-{{ $hostId }}-{{ $regionId }}.api.{{ $topLevelDomain }}
{{- if .Values.management.config.grpc_server.tls.enabled }}
    tls:
      # tls is handled in the application if enabled
      passthrough: true
{{- end }}
{{- end }}
