{{- if and (not .Values.global.charts.existingSecret) (or .Values.global.charts.username .Values.global.charts.password .Values.global.charts.clientCert .Values.global.charts.clientKey .Values.global.charts.customCA) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "agent.chartsSecretName" . }}
  labels:
    {{- include "agent.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.global.charts.username }}
    checksum/username: {{ .Values.global.charts.username | sha256sum }}
    {{- end }}
    {{- if .Values.global.charts.password }}
    checksum/password: {{ .Values.global.charts.password | sha256sum }}
    {{- end }}
    {{- if .Values.global.charts.clientCert }}
    checksum/client-cert: {{ .Values.global.charts.clientCert | sha256sum }}
    {{- end }}
    {{- if .Values.global.charts.clientKey }}
    checksum/client-key: {{ .Values.global.charts.clientKey | sha256sum }}
    {{- end }}
    {{- if .Values.global.charts.customCA }}
    checksum/ca: {{ .Values.global.charts.customCA | sha256sum }}
    {{- end }}
type: Opaque
data:
  {{- if .Values.global.charts.username }}
  username: {{ .Values.global.charts.username | b64enc | quote }}
  {{- end }}
  {{- if .Values.global.charts.password }}
  password: {{ .Values.global.charts.password | b64enc | quote }}
  {{- end }}
  {{- if .Values.global.charts.clientCert }}
  tls.crt: {{ .Values.global.charts.clientCert | b64enc | quote }}
  {{- end }}
  {{- if .Values.global.charts.clientKey }}
  tls.key: {{ .Values.global.charts.clientKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.global.charts.customCA }}
  ca.crt: {{ .Values.global.charts.customCA | b64enc | quote }}
  {{- end }}
{{- end }}
