{{- include "agent.validateValues" . -}}
{{- $agentConfig := deepCopy .Values.agent.config -}}
{{- $_ := set $agentConfig.host "join_token" .Values.join_token -}}
{{- $_ := set $agentConfig "control_plane_url" .Values.global.control_plane_url -}}
{{- $_ := set $agentConfig "control_plane_http_url" .Values.global.control_plane_http_url -}}
{{- $_ := set $agentConfig "control_plane_http_insecure" .Values.global.control_plane_http_insecure -}}
{{- $_ := set $agentConfig "sentry" .Values.global.sentry -}}
{{- $_ := set $agentConfig "nats" .Values.global.nats -}}
{{- $_ := set $agentConfig "secrets" .Values.global.secrets -}}
{{- $_ := set $agentConfig.featureflags "nats_enabled" .Values.global.featureflags.nats_enabled -}}
{{- $_ := set $agentConfig.featureflags "agent_component_validation" .Values.global.featureflags.agent_component_validation -}}
{{- /* Apply global registry override to nested image configurations */ -}}
{{- if .Values.global.image.registry -}}
  {{- $_ := set $agentConfig.sidecar "image_registry" .Values.global.image.registry -}}
  {{- $_ := set $agentConfig.otel "image_registry" .Values.global.image.registry -}}
  {{- $_ := set $agentConfig.upstream_dapr "container_registry" .Values.global.image.registry -}}
  {{- $_ := set $agentConfig.internal_dapr "container_registry" .Values.global.image.registry -}}
{{- end -}}
{{- /* Apply global charts configuration */ -}}
{{- if or .Values.global.charts.registry .Values.global.charts.username .Values.global.charts.password .Values.global.charts.clientCert .Values.global.charts.clientKey .Values.global.charts.customCA .Values.global.charts.existingSecret -}}
  {{- if .Values.global.charts.registry -}}
    {{- $_ := set $agentConfig.artifacts "internal_repo_url" .Values.global.charts.registry -}}
  {{- end -}}
  {{- if or .Values.global.charts.username .Values.global.charts.existingSecret -}}
    {{- $_ := set $agentConfig.artifacts "internal_registry_username" .Values.global.charts.username -}}
  {{- end -}}
  {{- if or .Values.global.charts.password .Values.global.charts.existingSecret -}}
    {{- $_ := set $agentConfig.artifacts "internal_registry_password" .Values.global.charts.password -}}
  {{- end -}}
  {{- if or .Values.global.charts.clientCert .Values.global.charts.existingSecret -}}
    {{- $_ := set $agentConfig.artifacts "internal_repo_client_cert_file" (printf "/var/run/secrets/charts/tls.crt") -}}
  {{- end -}}
  {{- if or .Values.global.charts.clientKey .Values.global.charts.existingSecret -}}
    {{- $_ := set $agentConfig.artifacts "internal_repo_client_key_file" (printf "/var/run/secrets/charts/tls.key") -}}
  {{- end -}}
  {{- if or .Values.global.charts.customCA .Values.global.charts.existingSecret -}}
    {{- $_ := set $agentConfig.artifacts "internal_repo_ca_file" (printf "/var/run/secrets/charts/ca.crt") -}}
  {{- end -}}
{{- end -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "agent.name" . }}-config
data:
  "config.yaml": |
{{ tpl (toYaml $agentConfig) . | indent 4 }}
