name: Automated Release

concurrency: "automated-release"

on:
  workflow_dispatch:
    inputs:
      release_branch:
        description: "Release branch to create the release on."
        type: string
        required: true
      release_version:
        description: "Release version to use for the release."
        type: string
        required: true
      images_tag:
        description: "Diagrid container images tag to use for the release."
        type: string
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Full history for git tag checking

    # will create a new release branch. CI won't trigger on this branch because it was created by an workflow.
    - name: Checkout release branch
      run: |
        git config --global user.email "bot@diagrid.io"
        git config --global user.name "Diagrid Bot"
        git checkout -b ${{ inputs.release_branch }} || git checkout ${{ inputs.release_branch }}

    - name: Update tags
      run: |
        make update-catalyst-tags IMAGES_TAG=${{ inputs.images_tag }}
    
    - name: Update chart version
      run: |
        make update-catalyst-chart-version VERSION=${{ inputs.release_version }}

    - name: Update guides version
      run: |
        VERSION="${{ inputs.release_version }}"
        chmod +x .github/scripts/update-guides.sh
        ./.github/scripts/update-guides.sh

    # Push to release branch, then helm-release.yaml will pick it up and create a github release.
    - name: Push to release branch
      run: |
        git add .
        git commit -m "Update release branch to ${{ inputs.release_version }} and images to ${{ inputs.images_tag }}"
        git push origin ${{ inputs.release_branch }}
