name: Create new release

concurrency: "new-release"

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Version to use for the release (e.g. 0.2.0)."
        type: string
        required: true
      images_tag:
        description: "Diagrid container images tag to use for the release."
        type: string
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      name: Checkout

    - name: Update tags
      run: |
        make update-catalyst-tags IMAGES_TAG=${{ inputs.images_tag }}
    
    - name: Update chart version
      run: |
        make update-catalyst-chart-version VERSION=${{ inputs.release_version }}

    - name: Get release branch
      run: |
        chmod +x .github/scripts/get-release-branch.sh
        ./.github/scripts/get-release-branch.sh

    - name: Create release branch
      run: |
        git config --global user.email "bot@diagrid.io"
        git config --global user.name "Diagrid Bot"
        git checkout -b release-${{ env.RELEASE_BRANCH }}
        git add .
        git commit -m "Prepare new release ${{ inputs.release_version }}, update tags to ${{ inputs.images_tag }}"
        git push origin release-${{ env.RELEASE_BRANCH }}
