name: Create new release branch

concurrency: "new-release-branch"

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      name: Checkout

    - name: Create release branch
      run: |
        chmod +x .github/scripts/create-release-branch.sh
        ./.github/scripts/create-release-branch.sh
