name: Publish Edge Helm Chart

on:
  push:
    branches:
      - main

env:
  REGISTRY: ${{ vars.AWS_PUBLIC_ECR_HOST }}
  REPO: ${{ vars.AWS_PUBLIC_ECR_ALIAS }}

jobs:
  publish-helm-chart:
    runs-on: ubuntu-latest
    environment: shared-production
    permissions: write-all # Needed to create GitHub releases and tags
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/download/v4.44.1/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_CI_ROLE }}
          aws-region: ${{ vars.AWS_CI_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Add Helm Repositories
        run: |
          helm repo add open-telemetry https://open-telemetry.github.io/opentelemetry-helm-charts
          helm repo update

      - name: Update tags to edge
        run: |
          make update-catalyst-tags IMAGES_TAG=edge
          make update-catalyst-chart-version VERSION=0.0.0-edge

      - name: Get version
        id: get-version
        run: |
          VERSION=$(yq '.version' "charts/catalyst/Chart.yaml")
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Package and Push Helm Chart
        env:
          VERSION: ${{ steps.get-version.outputs.VERSION }}
        run: |
          make helm-prereqs helm-package helm-push
