name: Diagrid Chart Publish
description: Publish the chart in a public registry.

on:
  workflow_dispatch:
    inputs:
      chart-version:
        description: The chart version
        type: string
      update-chart-version:
        description: "Request to update with provided chart versions or default to 0.0.0"
        required: false
        type: string
        default: 'false'
      # NOTE: workflow_dispatch boolean values cannot be passed
      # directly as workflow_call boolean inputs and must be handled
      # explicitly, see: https://medium.com/@sohail.ra5/github-actions-passing-boolean-input-variables-to-reusable-workflow-call-42d39bf7342e
      publish-edge-only:
        description: "Publish a new edge chart only"
        required: false
        type: boolean
        default: false
  workflow_call:
    inputs:
      chart-version:
        description: The chart version
        type: string
      update-chart-version:
        description: "Request to update with provided chart versions or default to 0.0.0"
        required: false
        type: string
        default: 'false'

jobs:
  helm-artifact:
    # TODO: replace runner with the appropriate runner when s3 cache for artifacts works as expected. check runs-on.yml file
    runs-on: [runs-on,runner=regular,"run-id=${{ github.run_id }}"]
    permissions:
      contents: 'read'
      id-token: 'write'

    environment: ${{ matrix.environment }}
    strategy:
      fail-fast: false
      matrix:
        environment: [dev, prd]
        exclude:
          - environment: ${{ ( inputs.publish-edge-only == 'true' || inputs.update-chart-version == 'true' ) && 'prd' }} # exclude prd when publish-edge-only or update-chart-version is true
    env:
      GCP_CONTAINER_REGISTRY_HOST: '${{ secrets.GCP_CONTAINER_REGISTRY_HOST }}'
      GCP_PROJECT_ID: '${{ secrets.GCP_PROJECT_ID }}'
      GCP_SHARED_PROJECT_ID: '${{ secrets.GCP_SHARED_PROJECT_ID }}'
      # Note: trying the below for now to see if this works to avoid creating a new registry for this to be public specific to helm artifacts.
      GCP_CHART_REPOSITORY: '${{ secrets.GCP_DOCKER_PUBLIC_REPOSITORY }}'
    steps:
    - uses: runs-on/action@v1 # required for runs-on magic cache https://runs-on.com/caching/magic-cache/
    - uses: actions/checkout@v4

    - name: Install Helm
      uses: azure/setup-helm@v4.2.0

    - id: auth
      name: Configure Google Credentials
      uses: google-github-actions/auth@v2
      with:
        token_format: 'access_token'
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ secrets.SERVICE_ACCOUNT }}

    - name: Helm Auth
      run: |-
        helm registry login -u oauth2accesstoken -p ${{ steps.auth.outputs.access_token }} ${GCP_CONTAINER_REGISTRY_HOST}/${GCP_SHARED_PROJECT_ID}/${GCP_CHART_REPOSITORY}

    - name: Helm Package
      env:
        CHART_APP_VERSION: ${{ inputs.chart-app-version }}
        CHART_VERSION: ${{ inputs.chart-version }}
        REGISTRY: ${{ secrets.GCP_CONTAINER_REGISTRY_HOST }}
        REPO: ${{ secrets.GCP_SHARED_PROJECT_ID }}/${{ secrets.GCP_CHART_REPOSITORY }} 
      run: make helm-package

    - uses: actions/upload-artifact@v4
      with:
        name: dist-${{matrix.environment}}-${{ inputs.chart-version }}
        path: ./dist/
        overwrite: true

    - name: Helm Push
      id: helm-push
      # Only run on main repo (not on forks)
      if: github.repository_owner == 'diagridio' && github.event_name != 'pull_request'
      env:
        CHART_VERSION: ${{ inputs.chart-version }}
        REGISTRY: ${{ secrets.GCP_CONTAINER_REGISTRY_HOST }}
        REPO: ${{ secrets.GCP_SHARED_PROJECT_ID }}/${{ secrets.GCP_CHART_REPOSITORY }}
      run: |-
        make helm-push

  slack-notify:
    needs: [helm-push]
    if: ${{ always() && contains(needs.*.result, 'failure') }}
    uses: diagridio/.github/.github/workflows/slack-notification.yaml@main
    secrets: inherit

